<section class="contact">
  <div class="contact__wrapper">
    <div class="contact__title">
      <div class="line1"> Vous avez des questions ?</div>
      <a href="{{ site.link }}/contact" class="line2">Contactez-nous ici.</a>
    </div>
  </div>
</section>
<!-- /Portfolio -->
