<div class="region">
  <div class="brand__logo__container">
    <img src="{{ site.link }}/wp-content/uploads/2021/04/logo-opacity.png" alt="">
  </div>
  <div class="brand__header">
    <div class="brand__header__title">
      <h2 class="blue">
        <div class="line-region">Dans quel pays</div>
      </h2>
      <h2 class="blue">
        <div class="line-region blue">
          vous situez vous ?
        </div>
         </h2>
    </div>
    <div class="brand__header__text">
      <p class="blue">
        Buddy vous offre la possibilité de lancer votre propre marque de CBD en Belgique et au Luxembourg en moins
        d’un
        mois. Laissez-vous guider en toute sérénité sur les aspects légaux et administratifs en bénéficiant d’un
        encadrement personnalisé pour commercialiser au mieux ce produit innovant.
      </p>
    </div>
    <div class="brand__header__text">
      <a href="">
        <img class="flag__img" src="{{ site.link }}/wp-content/uploads/2021/04/flag-400.png" alt="">

      </a>
      <a href="">

        <img class="flag__img" src="{{ site.link }}/wp-content/uploads/2021/04/france-flag-png-xl.jpg" alt="">

      </a>
      <a href="">

        <img class="flag__img" src="{{ site.link }}/wp-content/uploads/2021/04/luxembourg-flag-png-xl.jpg" alt="">
      </a>

    </div>
  <div class="elsewhere">
    <a href=""> Le reste du monde</a>
  </div>
  </div>

  <div class="brand-bg">
  </div>
</div>

