
<section>

  <div id="parcours">
    <div class=" info-container">
      <div class="section-title blue">
        <span class="indent">  <h2 class= "blue">Le parcours</h2> </span>
        <span> <h2 class=" blue">De buddy</h2> </span>
        <span class="indent">  <h2 class="blue">
             Belgium
          </h2></span>
      </div>
      <h3 class="indent">
        the story of buddy
      </h3>

      <div class="info-text">
        <p>
          La Belgique : laboratoire du futur pour le marché du CBD en Europe Fini le pot-pourri ! Suite à la régulation de la vente du CBD en avril 2019 (une première en Europe !) et à la classification des fleurs de cannabis light comme un « autre produit du tabac », nous nous sommes associés à un manufacturier pour devenir le premier hub 100% légal du CBD en Europe.
        </p>
      <div class="call-to-action">
        <a href="">
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10.3988H10.4699M10.4699 10.3988V1.08191M10.4699 10.3988L2 1.08191" stroke="#F5DFB4" stroke-width="3.16492"/>
          </svg>
          En savoir plus
        </a>
      </div>
      </div>
    </div>
    <div class="text-container">
      <div class="inner-text">
        <p>
          Comme bon nombre de success stories des temps modernes, c’est dans un garage de banlieue que Buddy voit le jour un soir de juillet 2018. Face à l’engouement autour du CBD en Europe et suite à l’ouverture successive d’un nombre impressionnant de magasins en Belgique, notre équipe de jeunes entrepreneurs bruxellois se réunit alors avec l’ambition de devenir l’un des acteurs incontournables du cannabis en Belgique.
        </p>
      </div>
      <div class="inner-text">
        <p>
          Au fil des mois qui ont suivi, nous nous sommes imposés sur ce marché ultracompétitif en faisant preuve de rigueur dans la sélection de nos partenaires et en démontrant toute notre capacité à nous adapter continuellement à la demande de nos clients. Aujourd’hui, nous avons fait de la Belgique l’une des plaques tournantes du CBD en Europe en important nos produits depuis le monde entier et en les exportant dans une dizaine de pays différents en Europe.
        </p>
      </div>
    </div>
  </div>

</section>
