<section class="grey">
  <div id="home-parcours">
    <img class="home-parcours_logo1" src="https://www.buddybelgium.com/wp-content/uploads/2021/05/Group-75-1.png" alt="">
    <img class="home-parcours_logo2" src="https://www.buddybelgium.com/wp-content/uploads/2021/05/Group-75-1.png" alt="">
    <div class="home-parcours_inner-wrapper">
      <div class=" info-container">
        <div class="home-parcours_title section-title blue">
          <span class="indent">  <h2 class="blue">Le parcours</h2> </span>
          <span> <h2 class=" blue">De buddy</h2> </span>
          <span class="indent">  <h2 class="blue last-word">
             Belgium
          </h2></span>
        </div>
        <div class="home-parcours_content">
          <div class="home-parcours_content_quote">
            <p>
              {{ acf.custom.left_bloc_text }}
            </p>
            <div class="home-parcours_content_quote_cta call-to-action">
              <a href="{{ site.link }}/about">
                <svg class="home-parcours_content_quote_cta_arrow" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 10.3988H10.4699M10.4699 10.3988V1.08191M10.4699 10.3988L2 1.08191" stroke="#FFFFFF"
                        stroke-width="3.16492"/>
                </svg>
                En savoir plus
              </a>
            </div>
          </div>
          <div class="home-parcours_content_wrapper-text">
            <div class="home-parcours_content_text">
              <p>
                {{ acf.custom.right_bloc_text_top }}        </p>
            </div>
            <div class="home-parcours_content_text">
              <p>
                {{ acf.custom.right_bloc_text_bottom }}        </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
