<div class="brand" style="background-image: url(https://www.buddybelgium.com/wp-content/uploads/2021/03/IMG-5348-min-scaled.jpg)">
{#  <div class="brand__logo__container">
    <img src="{{ site.link }}/wp-content/uploads/2021/04/logo-opacity.png" alt="">
  </div>#}

    <div class="brand__header">
      <div class="brand__header__title">
        <h2>Toutes nos <br> marques</h2>
      </div>
      <div class="brand__header__text">
        <p>
          Buddy vous offre la possibilité de lancer votre propre marque de CBD en Belgique et au Luxembourg en moins
          d’un
          mois. Laissez-vous guider en toute sérénité sur les aspects légaux et administratifs en bénéficiant d’un
          encadrement personnalisé pour commercialiser au mieux ce produit innovant.
        </p>
      </div>
    </div>
    <div class="brand__logos">
      {% for brand in brands %}
        <div class="brand__logos__wrapper">
          <img src="{{ Image(brand.custom.url).src }}" alt=""/>
        </div>
      {% endfor %}


    </div>
<div class="call-to-action-brand">
    <a href="{{ site.link }}/marques">Voir toutes nos marques</a>
</div>
  <div class="brand-bg">
  </div>
</div>

