<section class="product with-padding grey" id="product-section">
  <div class="title-container">
    <h2>Nos produits</h2>
  </div>

  <div class="product-list-container">
    {% for post in product %}

      <a href="{{ post.link }}" data-color="#b3a8b3" data-imagelarge="{{ Image(post.image).src }}"
         data-imagesmall="{{ Image(post.image).src }}">{{ post.title }}</a>
    {% endfor %}
  </div>
  <div class="portfolio__image--l">
    <div class="image_inside">

    </div>
  </div>
</section>
<!-- /Portfolio -->
