<section class="activity">
  <div class="title-container">
    <h2 class="blue">
          <span class="indent">
            Nos <br>
          </span>
      <span>
          Différentes <br>
          </span>
      <span class="indent-2">
          Activités
          </span>
    </h2>
  </div>
  <div class="card-container">
    <a href="activities/white-label" class="card wl">
      <div class="hero-blurr">
        <div class="exclusion"></div>
        <div class="hero"></div>
        <div class="white-title">
          <h2>
            WHITE LABELLING
          </h2>
        </div>
      </div>


    </a>
    <a href="#" class="card crea">
      <div class="hero-blurr">
        <div class="exclusion"></div>
        <div class="hero"></div>
        <div class="white-title">
          <h2>
            CREATION DE MARQUES
          </h2>
        </div>
      </div>
    </a>
    <a href="#" class="card imp">
      <div class="hero-blurr">
        <div class="exclusion"></div>
        <div class="hero"></div>
        <div class="white-title">
          <h2>
            import/export
          </h2>
        </div>
      </div>
    </a>
    <a href="#" class="card ser">
      <div class="hero-blurr">
        <div class="exclusion"></div>
        <div class="hero"></div>
        <div class="white-title">
          <h2>
            service de manutentions
          </h2>
        </div>
      </div>

    </a>
  </div>
</section>

