<div class="vat-question">

  <form class="vat-question__form" method="get">
    <input class="vat-question__choice" type="submit" name="vat" value="je suis professionnel">


    <input class="vat-question__choice" type="submit" name="vat" value="je suis particulier">
  </form>
  <div class="asterisque">
    <p>
      * En vertu des dispositions légales applicables en Belgique, Buddy Belgium n'est pas autorisé à donner l'accès à certaines informations liées à ses produits au consommateur. Entrez votre numéro de TVA pour avoir accès à l'ensemble des informations disponibles sur notre site web.
    </p>
  </div>
</div>
