<div class="vat-number">
  <div class="vat-number__question">
    <span>Veuillez insérer votre</span>
    <span>numero de tva</span>
  </div>
  <div>
    <form method="post" class="vat-number__form">
      <input class="vat-number__form__input" type="text" name="vat_number">
      <div class="vat-number__form__message" type="text"></div>
      <input class="vat-number__form__submit" type="submit">
    </form>
  </div>
</div>
