<div class="vat-number">
  <div class="vat-number__question">
    <h3 class="vat-number__question__text">
      Veuillez insérer votre<br>
      numero de tva
    </h3>
  </div>
  <div>
    <form method="post" class="vat-number__form">
      <input class="vat-number__form__input" type="text" name="vat_number">
      <div class="vat-number__form__message" type="text"></div>
      <input class="vat-number__form__submit" type="submit" value="valider">
    </form>
  </div>
</div>
