<div class="vat-question">
  <h3 class="vat-question__text">
    Avez-vous un <br>
    numero de <br>
    TVA
  </h3>
  <form class="vat-question__form" method="get">
    <input class="vat-question__choice" type="submit" name="vat" value="yes">
    <span class="vat-question__slash">/</span>
    <input class="vat-question__choice" type="submit" name="vat" value="no">
  </form>
</div>
