<section class="brand">


  <div class="title-container">
    <h2>
      Toutes nos <br> marques
    </h2>

  </div>
  <div class="text-container">
    <p>
      Buddy vous offre la possibilité de lancer votre propre marque de CBD en Belgique et au Luxembourg en moins d’un mois. Laissez-vous guider en toute sérénité sur les aspects légaux et administratifs en bénéficiant d’un encadrement personnalisé pour commercialiser au mieux ce produit innovant.
    </p>
  </div>
  <div class="brand-icons">

  </div>
</section>
BE0712843991
