<nav class="navbar">
  <div class="navbar__backlink">
    <span class="arrow__backlink__link-text">
       <img class="navbar__backlink__arrow" src="" alt="">
      <a href="{{ site.link }}/pro#activity" class="back__button">
       back.
      </a>

    </span>
  </div>
  <figure class="navbar__logo-wrapper">
    <img src="http://localhost/buddy-belgium/wp-content/uploads/2021/01/logonav.png" alt="">
  </figure>
  <div class="navbar__menu">menu</div>
</nav>
