
#product {
	height: inherit;
}


h1, h2, h3, .line1, .line2 {
	font-family: $titleFont, sans-serif;
	font-weight: 1000;
}


.grey {
	background-color: #f3f6ff;
	padding-top: 40px;
}

#main__site {
	min-height: 100vh;
}

.white {
	color: white;
}




.line {
	height: 110px;
}

section {

}

a {
	text-decoration: none;
}

#product-section {
	height: 80vh;
}

/* Smooth Scrolling */
/*

@media (max-width: 680px) {
	span {
		height: 68px;
	}
}
*/


h1 h2 {
	font-family: $titleFont, serif;
}

h3 {
	font-family: 'Cousine', monospace;
}

h2 {
	font-size: calc(3vw + 1rem);

	span {
		overflow: hidden;
		display: flex;
	}

}


.green {
	color: $green;
}

.blue {
	color: $blue;
}

.indent-2 {
	text-indent: calc(25px * 1.5);
}


footer {
	height: 200px;
	width: 100vw;
	background-color: $blue;

}

body {
	overflow-x: hidden;
}

.menu-nav {
	top: 0;
}

.category__slider__item {
	display: flex;
	justify-content: center;

	img {

		min-height: 200px;
		max-height: 200px;
	}
}

.category__headline__wrapper-image {
	display: flex;
	align-items: center;
}


h1 {
	font-size: 30px;
	height: 90%;

}


.last-word {
	height: 90px;
}
