

#product {
	height: inherit;
}


h1,  h2,  h3 , .line1 , .line2 {
	font-family: $titleFont , sans-serif ;
	font-weight: 1000;
}

.white{
	color: white;
}
span {
	height: 72px;
}

.line {
	height: 90px;
}

section {
	height: 80vh;
}

/* Smooth Scrolling */




h1 h2 {
	font-family: $titleFont, serif;
}

h3 {
	font-family: 'Cousine', monospace;
}

h2 {
	font-size: calc(3vw + 1rem);

	span {
		overflow: hidden;
		display: flex;
	}

}


.green {
	color: $green;
}

.blue {
	color: $blue;
}

.indent-2 {
	text-indent: calc(25px * 1.5);
}


footer {
	height: 200px;
	width: 100vw;
	background-color: $blue;

}
body {
	overflow-x: hidden;
}
.menu-nav {
	top: 0;
}

.category__slider__item {
	display: flex;
	justify-content: center;
	img {
		
		min-height: 200px;
		max-height: 200px;
	}
}

.category__headline__wrapper-image {
	display: flex;
	align-items: center;
}
