body {
	overflow-x: hidden;
	background-color: #FDFDFB;
	overflow-y: scroll;
}

#product {
	height: inherit;
}

section {
	height: 80vh;
}

/* Smooth Scrolling */
#viewport {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

}

#scroll-container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	will-change: transform;
	backface-visibility: hidden;
}


h1 h2 {
	font-family: 'Eczar', serif;
}

h3 {
	font-family: 'Cousine', monospace;
}

h2 {
	font-size: calc(3vw + 1rem);

	span {
		overflow: hidden;
		display: flex;
	}

}


.green {
	color: $green;
}

.blue {
	color: $blue;
}

.indent-2 {
	text-indent: calc(25px * 1.5);
}
