$blue: #3A7498;
$green: #C3D6A1;
$gap: 24px;
$mainFont: "Poppins", monospace;
$titleFont: "Poppins", monospace;
$success: #95ff24;
$error: #de5757;
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);
