{% macro marques(products) %}

  <div class="marques__presentation__slider swiper-container">
    <div class="swiper-wrapper">
      {% for product in products %}
        <div class="marques__presentation__slider__item swiper-slide">
          <img src={{ Image(product.product_image).src }}>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
