{% macro marques(products) %}
  <div class="marques__presentation__slider swiper-container">
    <div class="swiper-wrapper">
      {% for product in products %}
        <a href="{{ site.url }}/products/{{ product.slug }}" class="marques__presentation__slider__item swiper-slide">
          <img src={{ Image(product.product_image).src }}>
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
