{% macro productsList(products) %}
  <div class="product-container">
    <div class="product-wrapper">
      {% for product in products %}
        <a href="{{ site.url }}/pro/products/{{ product.slug }}" class="category__slider__item swiper-slide">
          <img src={{ Image(product.product_image).src }}>
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
