//**********activity-page__inner**********//
.activity-page__inner {
	display: flex;
	max-width: 1100px;
	flex-direction: column;
	justify-content: space-between;
	@include respond-below(md) {
		margin: 0 auto;
	}
	@include respond-above(md) {
		margin: 100px auto 0;
	}
	@include respond-above(xl) {
		gap: 54px;
	}
}

//**********activity-page__description**********//
.activity-page__description {
	font-family: $mainFont;
	padding: 24px;
}

.activity-page__description__wrapper__title {
	margin: 0 auto;
}

.activity-page__description__title {
	@include title;
	text-align: center;
}

.activity-page__description__button {
	margin-top: 48px;
	margin-bottom: 12px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: 32px;
	font-family: $mainFont;
}

.activity-page__description__button a {
	color: $blue;
	&:visited {
		color: $blue;
	}

	&:hover {
		color: $green;
	}
}

.activity-page__description__title__top {
	color: $green;
	font-weight: 600;
	display: block;
	text-align: center;

}

.activity-page__description__title__bottom {
	color: $blue;
	display: block;
}

.activity-page__description__main-text {
	font-size: 16px;
	font-family: $mainFont;
	font-weight: 300;
	line-height: 180%;
	margin: 64px auto 50px;
	@include respond-above(md) {
		margin: 64px auto 150px;
		max-width: 600px;
	}
}

//**********activity-page__figure**********//
.activity-page__figure {
	overflow: hidden;
	@include respond-below(md) {
		height: 400px;
		width: 100vw;
		max-height: 600px;
	}

	@include respond-above(lg) {
		min-width: 500px;
		max-height: 600px;
	}
}

.activity-page__figure img {
	width: 120%;
	object-fit: cover;
}

