.hero-header{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	.blue-bg {
		background-color: $blue;
		width: 50%;
		.hero-customer {

			/* display: grid; */
			/* margin: auto; */
			/* min-height: 100vh; */
			height: 100%;
			display: flex;
			align-items: center;
		}

	}
		.header-background-image {
			width: 50%;
			background-size: cover;
		}

	.logo-container {
		position: absolute;
		left: 47%;
		top: 44%;

	}
}
