.intro {
	height: 100vh;
}

.intro__social{
	display: flex;
	flex-direction: column;
	position: absolute;
	gap: 20px ;
	bottom: 50px;
	place-items: center;
	margin-left: 40px;
}

.intro__social img{
	height: 20px;
}

.intro__inner {
	display: flex;
	width: 100%;
	height: 100%;
	@include respond-below(md) {
		flex-direction: column;
	}
}

.intro__left {
	@include flexCentred();
	background: #3A7498;
}

.intro__right {
	@include flexCentred();
	background: #F8F8F8;;
}

.intro__top-left-logo {
	position: absolute;
	left: 32px;
	top: 32px;
}

.intro__menu {
	position: absolute;
	right: 32px;
	top: 32px;
	font-family: Poppins, serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 16px;
}

.intro__center-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	@include respond-below(md) {
		display: none;
	}
}

.intro__main-title {
	@include title();
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro__main-title .intro__main-title--white {
	color: white;
}

.intro__main-title .intro__main-title--blue {
	color: $green;
}



