.intro {
	height: 100vh;
}

.intro__inner {
	display: flex;
	height: 100%;
	width: 100%;

	@include respond-below(md) {
		flex-direction: column;
	}
}

.intro__left {
	background: #3a7498;

	@include flexCentred();
}

.intro__right {
	background: #f8f8f8;

	@include flexCentred();
}

.intro__top-left-logo {
	left: 32px;
	position: absolute;
	top: 32px;
}

.intro__menu {
	font-family: Poppins, serif;
	font-size: 16px;
	font-weight: 800;
	position: absolute;
	right: 32px;
	text-transform: uppercase;
	top: 32px;
}

.intro__center-logo {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);

	@include respond-below(md) {
		display: none;
	}
}

.intro__main-title {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include title();
}

.intro__main-title .intro__main-title--white {
	color: #fff;
}

.intro__main-title .intro__main-title--blue {
	color: $green;
}

