.marques {}

.marques__scroll-menu {
	color: $blue;
	display: inline-block;
	font-family: $titleFont;
	font-size: 24px;
	left: 50%;
	padding: 40px 0;
	position: relative;
	transform: translateX(-50%);
}


.marques__scroll-menu__list {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.marques__scroll-menu__list__link:hover {
	color: $green;
	cursor: pointer;
}

.marques__scroll-to-top {
	bottom: 32px;
	color: $green;
	font-family: $titleFont;
	font-size: 16px;
	left: 32px;
	position: fixed;

	&:hover {
		cursor: pointer;
	}
}
