
#product {

	.product-headline {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 50px;
			align-items: center;
			justify-items: center;
			width: 80%;
			margin: auto;
			height: 750px;
		.product-headline-image {
			width: 100%;
			max-width: 550px;
			img {
				width: 100%;
			}
			.circle-background {
				width: 497px;
				height: 497px;
				position: absolute;
				background: #F5DFB4;
				border-radius: 100% ;
				z-index: -1;
				left: 9%;
				top: 20%;

			}
		}
		.product-headline-informations {
			.text-container {
				p {
					font-family: sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 27px;
					/* or 169% */


					color: rgba(12, 27, 51, 0.7);
				}
			}
		}
	}
	.product-details {

		.details-text-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 30px;
			width: 60%;
			margin: auto;
			.text-container {
				p {
					font-family: sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 27px;
					/* or 169% */


					color: rgba(12, 27, 51, 0.7);
				}

			}
		}
	}
	.product-list-container {
		width: 80%;
		margin: 100px auto;

		ul {
			display: flex;
			width: 100%;
			li {
				img {
					width: 100%;
					min-width: 300px;
				}
			}
		}
	}
}


@media(max-width: 996px) {
	#product {

		.product-headline {
			grid-template-columns: 1fr;
		}
		.product-details {
			.details-text-container {
				width: 100%;
				margin: 100px auto;
				grid-column-gap: 1fr;
			}
		}
	}
	.product-list-container {
		width: 80%;
		margin: 100px auto;
		a {
			text-align: center;
		}

		ul {
			display: flex;
			width: 100%;
			gap: 50px;
			li {
				img {
					;
				}
			}
		}
	}
}


@media(min-width: 740px) {
	#product .product-details .details-text-container {
	}
}
