.single-product__inner-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include respond-above(md) {
		flex-direction: row;
		gap: 50px;
		margin: 160px auto 0;
		max-width: 1500px;
		padding: 24px;
	}
}


#tns2-ow > div.tns-liveregion.tns-visually-hidden,
#tns1-ow > div.tns-liveregion.tns-visually-hidden {
	display: none;
}


.single-product__carousel {
	max-width: 800px;
}

.single-product__carousel__main-images__source {
	width: 100%;
}

.single-product__headline__information__title-container {
	@include respond-below(md) {
		padding: 0px 20px;
	}
}

.single-product__headline__information__title {
	font-size: clamp(3.5rem, 8vw, 7rem);
}

.single-product__headline__description-container {
	@include respond-below(md) {
		padding: 0px 20px;
	}
	margin-top: 40px;
	max-width: 500px;
	font-weight: 300;
	font-family: $mainFont;
	line-height: 180%;
}

.single-product__headline__information__title-container {
	margin-top: 32px;
}


.single-product__carousel__wrapper__main-images {
	max-width: 600px;
	overflow: hidden;

	div.tns-controls {
		display: none;
	}

	@include respond-above(lg) {
		width: clamp(400px, 30vw, 600px);
	}
}

.single-product__carousel__main-images__source {
	min-height: 600px !important;
	object-fit: cover !important;
}

.single-product__thumbnail {
	img {
		width: 100%;
		object-fit: cover;
	}
}

.single-product__wrapper__thumbnails {
	overflow: hidden;
	max-width: 475px;

	.tns-nav {
		display: none;
	}

	.tns-outer {
		position: relative;;
	}
}

