.single-product__headline {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include respond-above(md) {
		flex-direction: row;
		gap: 50px;
		margin: 160px auto 0;
		max-width: 1500px;
		padding: 24px;
	}
}

.single-product__headline__wrapper-image {
	max-width: 800px;
}

.single-product__headline__image {
	width: 100%;
}

.single-product__headline__information__title-container {
	@include respond-below(md) {
		padding: 0px 20px;
	}
}

.single-product__headline__information__title{
	font-size: clamp(3.5rem, 10vw, 7rem);
}

.single-product__headline__description-container {
	@include respond-below(md) {
		padding: 0px 20px;
	}
	margin-top: 40px;
	max-width: 500px;
	font-weight: 300;
	font-family: $mainFont;
	line-height: 180%;
}

.single-product__headline__information__title-container {
	margin-top: 32px;
}
.single-product__headline__description {
	font: revert;

}
