{% extends getf('base') %}
{% block body %}
  <div class="intro">
    <img class="intro__top-left-logo" src="{{ logo_top_left }}" alt="">
    <div class="intro__inner">
      <div class="intro__left">
        <div class="intro__left__test"></div>
        <h2 class="intro__main-title">
          <span class="intro__main-title--white">Hello there</span>
          <span class="intro__main-title--white">Buddy Belgium</span>
          <span class="intro__main-title--blue">Is coming back</span>
          <span class="intro__main-title--blue">Very soon</span>
        </h2>
      </div>
      <img class="intro__center-logo" src="{{ logo_center }}" alt="">
    </div>
  </div>
{% endblock body %}
