{% extends getf('base') %}
{% block body %}
  <div class="contact">
    <div class="form__container">
    <div class="title-container">
    <h2 class="single-product__headline__information__title blue">Nous</h2>
    <h2 class="single-product__headline__information__title blue">Contacter</h2>
    </div>
  {# <form action="post">
     <div class="block-input">
       <div class="input-container">
        <label for="nom">Nom</label>
        <input type="text" name="nom" aria-label="nom" required placeholder="Nom">

       </div>
       <div class="input-container">
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" aria-label="prenom" required placeholder="Prénom">
       </div>

     </div>
     <div class="block-input">
       <div class="input-container">
        <label for="email">Mail</label>
        <input type="email" name="email" aria-label="email" required placeholder="mail">
       </div>
       <div class="input-container">
        <label for="tva">TVA</label>
        <input type="text" name="tva" aria-label="tva" placeholder="numéro de TVA">

       </div>
     </div>

        <label for="comment">Commentaire</label>
        <textarea type="text" name="text" aria-label="comment" required placeholder="Commentaire"></textarea>
      <input type="submit" value="envoyer" class="sub-button">
      </form> #}

    {% filter shortcodes %}
      [contact-form-7 id="29078" title="Contact form"]
    {% endfilter %}

    </div>
  </div>
   {# <div class="contact__top-center-logo"></div>
    <div class="contact__inner">
      <div class="contact__left">
        <h2 class="contact__main-title">
          <span class="contact__main-title--white">Un renseignement? Un</span>
          <span class="contact__main-title--white">devis? Contactez-nous </span>
          <span class="contact__main-title--blue">par mail ou par </span>
          <span class="contact__main-title--blue">téléphone!</span>
        </h2>
      </div>
      <img class="contact__center-logo" src="{{ logo_center }}" alt="">
      <div class="contact__right">
        <div class="contact__body">
          <p class="contact__body__main-text">
            Nos produits sont validés EU-CEG entrepositaire agréé & livraison par transporteur avec tracking de colis
            dédouané en toute légalité avec la garantie d’un produit en dessous de 0,2% THC.
          </p>
          <p class="contact__body__contacts">
            info@buddybelgium.com • +32 (0)478/93.47.07
          </p>
        </div>
      </div>
    </div>
  </div>#}
{% endblock body %}
