{% extends getf('base') %}
{% import getf('button') as button %}

{% block body %}

<div class="hero-header">
  <div class="hero-title blue-bg">

      <section class="hero-wrapper hero-customer">
        <div class="social-network">
          <ul>
            <li>
              <img src="" alt="">
            </li>
            <li>

            </li>
            <li>

            </li>
          </ul>
        </div>
        <div class="hero-title">
          <h1>
            <div class="green indent line-content">
              <div class="line green">
                The first <br>
              </div>
            </div>
            <div class="green line-content">
              <div class="line green">
                European <br>
              </div>
            </div>
            <div class="blue line-content">
              <div class="line white">
                Hub for legal <br>
              </div>
            </div>
            <div class="blue indent line-content">
              <div class="line white">
                Cannabis.
              </div>
            </div>
          </h1>
        </div>
      </section>

  </div>
  <div class="logo-container">

    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="99.8832" height="99.6439" rx="1" fill="white"/>
      <g clip-path="url(#clip0)">
        <path d="M29.1847 64.8002C29.1627 64.7771 29.1627 64.7771 29.1627 64.8002C29.1627 64.8234 29.1847 64.8234 29.1847 64.8002ZM23.9484 58.3756C23.9484 60.0687 23.9484 61.7851 23.9484 63.4782C23.9484 63.8957 23.9484 64.3364 23.9484 64.7539C23.9484 65.009 23.9704 65.2641 24.1904 65.4265C24.4324 65.612 24.7845 65.5425 25.0705 65.5425C25.4665 65.5425 25.8625 65.5425 26.2586 65.5425C26.5446 65.5425 26.8086 65.4961 26.9406 65.1945C27.0946 64.8698 27.0066 64.406 27.0066 64.058V61.2052V58.6771C27.0066 58.2828 27.0506 57.8653 27.0066 57.471C26.9846 57.2159 26.8966 56.9839 26.6546 56.9607C26.3026 56.9144 25.9065 56.9607 25.5545 56.9607C25.2025 56.9607 24.8285 56.9144 24.4765 56.9839C23.8164 57.0767 23.9484 57.8653 23.9484 58.3756ZM26.9406 77.0002C27.0726 76.6987 27.0066 76.258 27.0066 75.9333C27.0066 74.9591 27.0066 73.985 27.0066 73.0341C27.0066 72.1759 27.0066 71.3409 27.0066 70.4827C27.0066 70.1116 27.0506 69.671 26.9846 69.2999C26.9406 69.0447 26.8086 68.8824 26.5666 68.8128C26.2366 68.72 25.8405 68.7664 25.5105 68.7664C25.1585 68.7664 24.7625 68.72 24.4104 68.7896C23.7724 68.9288 23.9264 69.8333 23.9264 70.3204C23.9264 72.0367 23.9264 73.7299 23.9264 75.4462C23.9264 75.8405 23.9044 76.258 23.9264 76.6523C23.9484 76.8842 24.0364 77.0698 24.2344 77.1857C24.4985 77.3249 24.8505 77.2553 25.1365 77.2553C25.5325 77.2553 25.9065 77.2553 26.3026 77.2553C26.5666 77.2321 26.8306 77.2321 26.9406 77.0002ZM29.9108 78.0903C29.8668 78.5542 29.6468 78.9253 29.3387 79.25C29.1407 79.4356 28.9647 79.6443 28.7667 79.8298C28.5907 80.0154 28.4147 80.2009 28.1507 80.2473C27.9087 80.2937 27.6446 80.2473 27.3806 80.2473C27.0726 80.2473 26.7646 80.2473 26.4566 80.2473C25.3125 80.2473 24.1904 80.2473 23.0464 80.2473H22.2983C22.0343 80.2473 21.7263 80.2705 21.4623 80.2241C21.0882 80.1546 21.0222 79.853 21.0222 79.5051C21.0222 78.2991 21.0222 77.1162 21.0222 75.9101C21.0222 73.5443 21.0222 71.1554 21.0222 68.7896V67.0269V59.8368V56.2649C21.0222 55.6619 20.9782 55.0588 21.0222 54.4558C21.0662 53.9687 21.3963 53.8992 21.7923 53.8992C22.9364 53.8992 24.0804 53.8992 25.2025 53.8992C25.7745 53.8992 26.3686 53.8992 26.9406 53.8992C27.2046 53.8992 27.4686 53.8992 27.7326 53.8992C27.9747 53.8992 28.2167 53.876 28.4367 54.0151C28.6347 54.1311 28.8107 54.3398 28.9647 54.5254C29.1407 54.7109 29.3167 54.8965 29.4928 55.082C29.8228 55.4531 29.9328 55.8938 29.9328 56.3809C29.9328 57.5406 29.9328 58.7003 29.9328 59.86C29.9328 61.066 29.9328 62.2721 29.9328 63.455C29.9328 64.0349 29.9768 64.6147 29.9328 65.1945C29.9108 65.7512 29.4267 65.9599 29.2067 66.4006C28.9647 66.9341 29.5368 67.282 29.8008 67.6763C29.9328 67.8618 29.9328 68.0706 29.9328 68.3025C29.9328 68.604 29.9328 68.8824 29.9328 69.1839C29.9328 70.39 29.9328 71.596 29.9328 72.8021C29.9328 73.985 29.9328 75.1679 29.9328 76.374C29.9328 76.9306 29.9768 77.5337 29.9108 78.0903Z" fill="#3A7498"/>
        <path d="M32.881 55.2662C32.881 54.9414 32.815 54.524 32.9691 54.2224C33.1891 53.8281 33.7831 53.9209 34.1351 53.9441C34.5311 53.9673 34.9712 53.8513 35.3672 53.9905C35.5652 54.0601 35.7192 54.1992 35.7632 54.408C35.8512 54.7791 35.8072 55.2198 35.8072 55.5909C35.8292 56.4258 35.8072 57.2608 35.7852 58.0958C35.7412 61.4821 35.7632 64.8916 35.7632 68.2779C35.7632 69.1361 35.7632 69.9942 35.7632 70.8756C35.7632 71.4554 35.6092 72.4992 36.3573 72.6151C36.6873 72.6615 37.0613 72.6151 37.3913 72.6151C37.7213 72.6151 38.1174 72.6847 38.4254 72.5687C39.0414 72.36 38.8654 71.2931 38.8654 70.7828C38.8214 67.3733 38.8434 63.987 38.8434 60.5775C38.8434 58.8612 38.8654 57.1449 38.8434 55.4285C38.8214 54.8487 38.6894 54.0601 39.4374 53.9905C39.7895 53.9673 40.1415 53.9673 40.4715 53.9673C40.7575 53.9673 41.1535 53.9209 41.4396 54.0137C41.7476 54.1297 41.7916 54.524 41.7916 54.8255C41.7916 55.2198 41.7916 55.5909 41.7916 55.9852V58.5597V63.6159V68.765C41.7916 69.6231 41.7916 70.4581 41.7916 71.3163C41.7916 71.757 41.7916 72.1976 41.7916 72.6383C41.7916 73.0326 41.8136 73.4269 41.7256 73.798C41.6376 74.1227 41.4396 74.4011 41.2196 74.633C40.9775 74.8881 40.7575 75.1665 40.4715 75.3752C39.9215 75.7463 39.2394 75.6535 38.6234 75.6535C37.8533 75.6303 37.0833 75.6535 36.3133 75.6535C35.6972 75.6535 34.9932 75.7695 34.3991 75.5144C34.0691 75.3752 33.8491 75.1201 33.6291 74.8649C33.4091 74.6098 33.1451 74.3547 33.0131 74.03C32.859 73.6589 32.881 73.2878 32.881 72.8935C32.881 72.476 32.881 72.0817 32.881 71.6642C32.881 69.9478 32.881 68.2315 32.881 66.5152C32.881 65.6802 32.881 64.8452 32.881 64.0102C32.881 62.3171 32.881 60.6007 32.881 58.9076C32.881 58.0958 32.881 57.2608 32.881 56.449C32.859 56.0547 32.881 55.6605 32.881 55.2662ZM41.7036 80.0604C41.5716 80.2923 41.3076 80.3619 41.0435 80.3619C40.6915 80.3851 40.3395 80.3619 40.0095 80.3619C39.5034 80.3619 39.0194 80.3619 38.5134 80.3619C37.4793 80.3619 36.4233 80.3619 35.3892 80.3619C34.8832 80.3619 34.3771 80.3619 33.8931 80.3619C33.5631 80.3619 33.1231 80.4315 32.947 80.0372C32.793 79.6893 32.881 79.1558 32.859 78.7847C32.859 78.4136 32.749 77.8106 32.9691 77.4858C33.1891 77.1611 33.7391 77.2307 34.0691 77.2539C34.2671 77.2539 34.4431 77.2771 34.6412 77.2771C34.8832 77.2771 37.3473 77.2771 37.3473 77.2771C38.3594 77.2771 39.3934 77.3003 40.4055 77.2771C40.7575 77.2771 41.3956 77.1611 41.6596 77.4858C41.9016 77.7874 41.7916 78.344 41.7916 78.7151C41.8136 79.1094 41.9236 79.6893 41.7036 80.0604Z" fill="#3A7498"/>
        <path d="M48.1942 56.9825C47.8642 57.0521 47.7102 57.284 47.6662 57.6087C47.6222 58.0262 47.6442 58.4669 47.6662 58.8844C47.6662 59.7889 47.6662 60.6935 47.6662 61.6212V67.095C47.6662 68.6954 47.6662 70.3189 47.6662 71.9193C47.6662 72.7311 47.6662 73.5429 47.6662 74.3547C47.6662 74.7258 47.6442 75.1201 47.6442 75.4912C47.6442 75.8623 47.6002 76.3029 47.6882 76.674C47.7982 77.2771 48.4143 77.2307 48.8763 77.2307C49.2063 77.2307 49.5143 77.2307 49.8443 77.2307C50.1304 77.2307 50.4604 77.2307 50.6364 76.9524C50.7904 76.6972 50.7464 76.3261 50.7684 76.0246C50.7684 75.6071 50.7684 75.1664 50.7684 74.749V72.3136C50.7684 69.0665 50.7684 65.8425 50.7684 62.5954C50.7684 61.0646 50.7684 59.5338 50.7684 58.003C50.7684 57.5855 50.7024 57.0753 50.2404 57.0057C49.8883 56.9361 49.5363 56.9825 49.1843 56.9825C48.8323 56.9825 48.5023 56.9129 48.1942 56.9825ZM53.5406 78.6455C53.3645 79.063 53.0125 79.3877 52.7045 79.6892C52.3745 80.0372 52.0445 80.2691 51.5604 80.3155C51.0544 80.3619 50.5484 80.3155 50.0424 80.3155C48.9203 80.3155 47.7982 80.3155 46.6761 80.3155C46.4121 80.3155 46.1481 80.3155 45.9061 80.3155C45.6641 80.3155 45.4001 80.3619 45.1581 80.2923C44.762 80.1763 44.718 79.7588 44.718 79.3877C44.718 78.228 44.718 77.0451 44.718 75.8855C44.718 73.5429 44.718 71.2235 44.718 68.8809C44.718 68.3011 44.718 67.698 44.718 67.1182C44.718 64.7524 44.718 62.3866 44.718 59.9977C44.718 58.8148 44.718 57.6087 44.718 56.4258C44.718 55.8692 44.696 55.2893 44.718 54.7327C44.74 54.2688 44.872 53.9673 45.3341 53.8977C45.8181 53.8281 46.3241 53.9209 46.8082 53.9209C47.3582 53.9209 47.9302 53.9209 48.4803 53.9209C49.0303 53.9209 49.5803 53.8977 50.1524 53.8977C50.6804 53.8977 51.2524 53.8281 51.7805 53.9441C52.2645 54.0369 52.5725 54.3616 52.9025 54.7327C53.2325 55.127 53.5626 55.4517 53.6506 55.9851C53.7166 56.5186 53.6726 57.0753 53.6726 57.6087V59.3714V73.5893C53.6726 74.7722 53.6506 75.9318 53.6726 77.1147C53.6946 77.625 53.7386 78.1585 53.5406 78.6455Z" fill="#3A7498"/>
        <path d="M60.0527 56.9825C59.7226 57.0521 59.5686 57.284 59.5246 57.6087C59.4806 58.0262 59.5026 58.4669 59.5246 58.8844C59.5246 59.7889 59.5246 60.6935 59.5246 61.6212V67.095C59.5246 68.6954 59.5246 70.3189 59.5246 71.9193C59.5246 72.7311 59.5246 73.5429 59.5246 74.3547C59.5246 74.7258 59.5026 75.1201 59.5026 75.4912C59.5026 75.8623 59.4586 76.3029 59.5466 76.674C59.6566 77.2771 60.2727 77.2307 60.7347 77.2307C61.0647 77.2307 61.3727 77.2307 61.7028 77.2307C61.9888 77.2307 62.3188 77.2307 62.4948 76.9524C62.6488 76.6972 62.6048 76.3261 62.6268 76.0246C62.6268 75.6071 62.6268 75.1664 62.6268 74.749V72.3136C62.6268 69.0665 62.6268 65.8425 62.6268 62.5954C62.6268 61.0646 62.6268 59.5338 62.6268 58.003C62.6268 57.5855 62.5608 57.0753 62.0988 57.0057C61.7468 56.9361 61.3947 56.9825 61.0427 56.9825C60.6907 56.9825 60.3607 56.9129 60.0527 56.9825ZM65.377 78.6455C65.201 79.063 64.8489 79.3877 64.5409 79.6892C64.2109 80.0372 63.8809 80.2691 63.3969 80.3155C62.8908 80.3619 62.3848 80.3155 61.8788 80.3155C60.7567 80.3155 59.6346 80.3155 58.5126 80.3155C58.2486 80.3155 57.9845 80.3155 57.7425 80.3155C57.5005 80.3155 57.2365 80.3619 56.9945 80.2923C56.5985 80.1763 56.5545 79.7588 56.5545 79.3877C56.5545 78.228 56.5545 77.0451 56.5545 75.8855C56.5545 73.5429 56.5545 71.2235 56.5545 68.8809C56.5545 68.3011 56.5545 67.698 56.5545 67.1182C56.5545 64.7524 56.5545 62.3866 56.5545 59.9977C56.5545 58.8148 56.5545 57.6087 56.5545 56.4258C56.5545 55.8692 56.5325 55.2893 56.5545 54.7327C56.5765 54.2688 56.7085 53.9673 57.1705 53.8977C57.6545 53.8281 58.1606 53.9209 58.6446 53.9209C59.1946 53.9209 59.7666 53.9209 60.3167 53.9209C60.8667 53.9209 61.4167 53.8977 61.9888 53.8977C62.5168 53.8977 63.0888 53.8281 63.6169 53.9441C64.1009 54.0369 64.4089 54.3616 64.7389 54.7327C65.069 55.127 65.399 55.4517 65.487 55.9851C65.553 56.5186 65.509 57.0753 65.509 57.6087V59.3714V73.5893C65.509 74.7722 65.487 75.9318 65.509 77.1147C65.531 77.625 65.575 78.1585 65.377 78.6455Z" fill="#3A7498"/>
        <path d="M78.5335 54.6401C78.4015 55.3127 78.2035 55.9853 78.0495 56.6579C77.4115 59.3948 76.7514 62.1085 76.1134 64.8453C75.7834 66.2138 75.4533 67.6054 75.1453 68.9738C74.9913 69.6465 74.9033 70.2727 74.9033 70.9685C74.9033 71.6643 74.9033 72.3833 74.9033 73.0791C74.9033 73.2415 74.9033 75.0042 74.9033 75.0042C74.9033 76.4423 74.8813 77.8571 74.9033 79.2951C74.9033 79.7358 74.8813 80.2228 74.3753 80.2924C74.0673 80.3156 73.7592 80.2924 73.4512 80.2924C73.1432 80.2924 72.8352 80.3156 72.5272 80.3156C72.1091 80.2924 71.9331 80.0141 71.9331 79.5966C71.9111 78.9008 71.9331 78.205 71.9331 77.5092C71.9331 76.0943 71.9331 74.6795 71.9331 73.2647C71.9331 71.8963 72.0211 70.5046 71.7571 69.1594C71.4931 67.791 71.1631 66.4457 70.8551 65.1005C70.239 62.3404 69.601 59.6035 68.985 56.8435C68.8309 56.1708 68.6769 55.475 68.5229 54.8024C68.4789 54.5705 68.3469 54.2458 68.5449 54.0602C68.7429 53.8515 69.139 53.921 69.403 53.921C69.711 53.921 70.019 53.921 70.327 53.921C70.591 53.921 70.8771 53.8979 71.1191 53.9674C71.5811 54.0834 71.6251 54.6169 71.7131 55.0343C72.0211 56.4028 72.3072 57.7712 72.6152 59.1628C72.7692 59.8587 72.9232 60.5777 73.0772 61.2735C73.1432 61.5982 73.2092 61.9229 73.2752 62.2244C73.2972 62.3636 73.3412 62.9202 73.5172 62.9434C73.6932 62.9666 73.7152 62.6187 73.7372 62.5028C73.8252 62.1549 73.9132 61.8069 74.0013 61.459C74.1773 60.7632 74.3313 60.0674 74.5073 59.3716C74.8373 58.0032 75.1673 56.6347 75.4973 55.2895C75.6074 54.872 75.6294 54.1994 76.0914 54.0138C76.2894 53.921 76.5314 53.9442 76.7514 53.9442C77.0814 53.9442 77.4115 53.9442 77.7415 53.9442C77.9615 53.9442 78.3135 53.8747 78.5115 54.037C78.6215 54.1298 78.5775 54.4313 78.5335 54.6401Z" fill="#3A7498"/>
      </g>
      <path d="M42.2993 23.812L42.3193 23.8314L42.2993 23.812ZM52.0913 19C55.9881 19.0195 59.4453 20.8702 61.6035 23.6951C58.3062 24.26 55.4086 25.5653 53.4902 28.6823C54.2096 25.6627 54.5493 22.5651 52.0913 19Z" fill="#3A7498"/>
      <path d="M61.7416 23.8704C63.1604 25.7796 63.9997 28.1368 63.9997 30.6889C61.202 29.7538 57.2453 29.6564 54.6074 30.611C57.6849 29.2668 60.023 26.9874 61.7416 23.8704Z" fill="#3A7498"/>
      <path d="M63.98 31.0393C63.9201 33.2018 63.2606 35.2084 62.1415 36.9227L61.6219 37.6241C60.6228 35.5006 59.1639 33.7278 56.7859 32.2472C59.2439 32.7342 61.6219 32.1108 63.98 31.0393Z" fill="#3A7498"/>
      <path d="M42.2993 23.812L42.3193 23.8509C46.336 24.3964 49.4135 26.4614 50.7124 28.5265C49.0538 23.2859 51.292 21.0845 51.5717 19C47.7549 19.1364 44.3976 21.0066 42.2993 23.812Z" fill="#3A7498"/>
      <path d="M42.3181 23.8505L42.2981 23.8311C40.8593 25.7403 40 28.117 40 30.6886C40 30.8639 40 31.0587 40 31.2341C42.6578 29.8119 47.0942 29.8119 50.1717 30.4743C46.4347 29.208 43.8369 26.9871 42.3181 23.8505Z" fill="#3A7498"/>
      <path d="M42.258 37.5074C42.1181 37.332 41.9982 37.1372 41.8783 36.9424C40.8192 35.3254 40.1597 33.4357 40.0398 31.3901C42.8575 32.5006 45.3754 32.8318 47.5736 32.4032C45.2555 34.137 43.8767 36.1436 42.7975 38.2087L42.258 37.5074Z" fill="#3A7498"/>
      <path d="M60.4234 39.2997C58.3451 41.5401 55.3676 42.9428 52.0303 42.9428C48.5332 42.9428 45.4357 41.4037 43.3374 38.988L47.7138 35.4813L48.2734 36.0073L52.0103 32.5591L54.5482 35.0527L55.3676 34.3124L61.1428 38.4425L60.4234 39.2997Z" fill="#3A7498"/>
      <defs>
        <clipPath id="clip0">
          <rect x="21" y="53.8745" width="57.5775" height="26.5105" rx="1" fill="white"/>
        </clipPath>
      </defs>
    </svg>

  </div>
  <div class="header-background-image" style="background-image: url(http://localhost/buddy-belgium/wp-content/uploads/2021/02/cannaforniapng.png)">

  </div>
</div>
  {% include getf('home.parcours') %}
  {% include getf('home.activity') %}
{#  {% include getf('home.category') %}#}
{#  {% include getf('home.marques') %}#}
  {% include getf('home.contact') %}
{% endblock body %}
