{% extends getf('base') %}
{% import getf('button') as button %}


{% block body %}
  {% include getf('menu') %}



  <div class="home">
    <div class="home-wrapper">
      <div class="social-media">
        <ul>
          <li>
            <a href=""><img src="{{ Image(acf.custom.facebook).src }}" alt=""></a>

          </li>
          <li>
            <a href="https://www.instagram.com/buddy.belgium/"><img src="{{ Image(acf.custom.instagram).src }}" alt=""></a>

          </li>
          <li>
            <a href=""><img src="{{ Image(acf.custom.twitter).src }}" alt=""></a>
          </li>
        </ul>
      </div>
      <section class="hero-wrapper">
        <div class="hero-title">
          <h1>
            <div class="green indent line-content">
              <div class="line">

                <span class="line-span">
                  The first

                </span>

                <br>
              </div>
            </div>
            <div class="green line-content">
              <div class="line">
                <span class="line-span">

                European
                </span>
                <br>
              </div>
            </div>
            <div class="blue line-content">
              <div class="line">
  <span class="line-span span-big">
                Hub for legal

  </span>


                <br>
              </div>
            </div>
            <div class="blue indent line-content">
              <div class="line">

                <span class="line-span">
                Cannabis.
              </span>

              </div>
            </div>
          </h1>
        </div>
        <div class="hero-slider">
          <img src="http://localhost/buddy-belgium/wp-content/uploads/2021/01/buddah-packs.png" alt="">
        </div>
      </section>
    </div>
    {% include getf('home.parcours') %}
    {% include getf('home.activity') %}
    {% include getf('home.category') %}
    {% include getf('home.marques') %}
    {% include getf('home.country') %}
    {% include getf('home.contact') %}
  </div>
{% endblock body %}
