{% extends getf('base') %}
{% import getf('productsList.slider') as slider %}
{% block body %}
  <div class="single-product">
    <div class="single-product__inner-wrapper">
      <div class="single-product__carousel">
        <div>
          <div class="single-product__carousel__wrapper__main-images">
            <div class="single-product__main-images">
                  <img class="single-product__carousel__main-images__source" src="{{ Image(product.custom.product_image).src }}" alt="">

            </div>
          </div>
          <div class="single-product__wrapper__thumbnails">
            <div class="single-product__thumbnails">
              {% for single_image in product.custom.product_image %}

                  <img class="single-product__headline__image" src="{{ Image(single_image).src }}" alt="">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="single-product__headline__information">
        <div class="single-product__headline__information__title-container">
          <h2 class="single-product__headline__information__title blue">{{ product.post_title }}</h2>
        </div>
        <div class="single-product__headline__description-container">
          <p class="single-product__headline__description">
            {{ product.product_description|wpautop }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
