
.region {
	h2 {
		overflow: hidden;
	}

	.brand__header__text {
		display: flex;
		justify-content: space-around;
		align-items: center;

	}

	.flag__img {
		height: 50px;
	}
}

.elsewhere {
		text-align: center;
	a {
		font-weight: 800;
		color: $green;
		text-transform: uppercase;
		font-family: $titleFont;
		font-size: 25px;
		text-decoration: none;

	}
}
