#home-parcours{}

.home-parcours_title{
	margin-left: 16px;
	@include respond-above(md){
		margin-left: -100px;
	}
}

.home-parcours_inner-wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0 200px;
}

.home-parcours_content {
	@include respond-above(md) {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		gap: 24px;
	}
}

.home-parcours_content{
	padding: 0 24px;
	@include respond-above(md){
		margin-top: 100px;
		display: flex;
		justify-content: center;
	}
}

.home-parcours_content_quote {
	max-width: 480px;
	p {
		font-family: $mainFont;
		font-style: normal;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: #3A7498;
	}
}

.home-parcours_content_quote_cta {
	width: 100%;
	max-width: 190px;
	font-family: $mainFont;
	border: 1px solid #3A7498;
	text-align: center;
	height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	background: $blue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	a:visited {
		color: white;
	}
	@include respond-below(md){
		margin-bottom: 24px;
	}
}

.home-parcours_content_quote_cta_arrow{
	margin-right: 8px;
}

.home-parcours_content_wrapper-text{
	font-family: $mainFont;
	line-height: 150%;
	font-weight: 300;
	max-width: 560px;
}

.home-parcours_content_text{
	max-width: 600px;
	&:nth-child(1){
		margin-bottom: 32px;
	}
}



