.brand-bg {
	background: rgba(58, 116, 152 , .7) ;
}

	.brand__header__title {
		h2 {
		color: white;

		}

	}
	.brand__header__text {
		p {
			color: white;
		}
	}
.brand {
	box-sizing: border-box;
	position: relative;
	background-size: cover;
	z-index: 1;
	padding-bottom: 100px;

	.brand__logo__container {
		display: flex;
		justify-content: center;
		img	{
			max-width: 410px;
			width: 100%;
			margin: auto;
			position: absolute;
			z-index: -1;
		}
	}
	.brand-bg {
		width: 100%;
		height: 100%;
		mix-blend-mode: normal;
		opacity: 0.8;
		position: absolute;
		top: 0;
		z-index: -2;



	}
}

.brand__header {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 80px;
}

.brand__header__title {
	@include title;
	color: $blue;
	margin: 0 auto;
	text-align: center;
}

.brand__header__text {
	color: rgb(12, 27, 51);
	margin: 32px auto;
	text-align: center;
	font-family: Poppins, sans-serif;
	font-weight: 500;
	line-height: 150%;
	@include respond-below(sm) {
		padding: 30px 20px;
	}
}

.brand__logos {
	margin: 0 auto;
	display: grid;
	max-width: 1000px;
	justify-items: center;
	align-items: center;
	padding-bottom: 64px;
	grid-row-gap: 32px;
	@include respond-between(sm, md) {
		grid-template-columns: 1fr 1fr;
		max-width: 500px;
	}
	@include respond-above(md) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.brand__logos__wrapper {
	width: clamp(200px, 12vw, 280px);
}

.brand__logos__wrapper img {
	width: 100%;
}







.when-i-see-my-ex {
	opacity: 0;
	display: none;
	color: rgba(0,0,0,0);
	visibility: hidden;
	backface-visibility: hidden;
	z-index:-1000;
	position: absolute;
	top:-10000%;
	left: 10000%;
	transform: translateY(10000%);
}



.call-to-action-brand {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	max-width: 300px;
	padding: 10px;
	border: 2px solid white;
	&:hover {
		background: $blue;
		transition: .2s ease-in-out;


	}


	margin: auto;
	a {
		color: white;
		font-family: Proxima Nova, sans-serif;
		text-decoration: none;
		font-size: 30px;
		font-weight: 500;


	}
}




