.menu-nav {
	position: fixed;
	display: flex;
	justify-content:space-between;
	width: 100vw;
	z-index: 1;
	.title {
		h1 {
			font-family: "Poppins" , sans-serif;
		}
	}
}
#menu-burger {
	display: none;
}
